openapi: 3.0.3
info:
  title: SalesSparrow Salesforce oAuth API's
  description: Following api's will be called from the sales sparrow application
  version: '1.0'
servers:
  - url: https://sales.truesparrow.com/api

paths:
  /v1/auth/salesforce/redirect-url:
    get:
      description: Api will return the redirect url 
      parameters:
          - name: redirect_uri
            in: query
            description: Redirect uri for oauth.
            required: true
            schema:
              type: string
          - name: state
            in: query
            description: State
            required: false
            schema:
              type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    example: 'https://test.salesforce.com/services/oauth2/authorize?response_type=code&client_id=12345&redirect_uri=http://localhost:3000&state=12345'
        '400':
          description: "Bad Request"
          content:
            application/json:
              schema:
                $ref: '../Components.yaml#/components/schemas/response_400'
        '401':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: '../Components.yaml#/components/schemas/response_401'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '../Components.yaml#/components/schemas/response_404'
        '500':
          description: Something went wrong
          content:
            application/json:
              schema:
                $ref: '../Components.yaml#/components/schemas/response_500'
                

  /v1/auth/salesforce/connect:
    post:
      description: Api to connect SalesSparrow to salesforce user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  example: 'aPrxCd8nVGMK1dqdVY8T_f19rz9P.Qh1TkPZr_C4_nlLXqGCQ.lb1SDkExNY3YvplkdqF_0hng=='
                redirect_uri:
                  type: string
                  example: 'http://localhost:3000&state=12345'
              required:
                - code
                - redirect_uri
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  current_user:
                    $ref: '../Components.yaml#/components/schemas/current_user'
        '400':
          description: "Bad Request"
          content:
            application/json:
              schema:
                $ref: '../Components.yaml#/components/schemas/response_400'
        '401':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: '../Components.yaml#/components/schemas/response_401'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '../Components.yaml#/components/schemas/response_404'
        '500':
          description: Something went wrong
          content:
            application/json:
              schema:
                $ref: '../Components.yaml#/components/schemas/response_500'