openapi: 3.0.3
info:
  title: SalesSparrow Account Tasks API's
  description: Following api's will be called from the SalesSparrow application
  version: '1.0'
servers:
  - url: https://sales.truesparrow.com/api
paths:
  /v1/accounts/{account_id}/tasks:
    post:
      description: Api will create task
      parameters:
        - name: account_id
          in: path
          description: Account Id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                crm_organization_user_id:
                  type: string
                  example: '00U1e000003TnVXEA1'
                description:
                  type: string
                  example: 'Complete remaining task'
                due_date:
                  type: string
                  format: date
                  example: '2023-07-21'
              required:
                - crm_organization_user_id
                - description
                - due_date
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  task_id:
                    type: string
                    example: "00U1e000003TnVXEA0"
        '400':
            description: "Bad Request"
            content:
              application/json:
                schema:
                  $ref: 'Components.yaml#/components/schemas/response_400'
        '401':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: 'Components.yaml#/components/schemas/response_401'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: 'Components.yaml#/components/schemas/response_404'
        '500':
          description: Something went wrong
          content:
            application/json:
              schema:
                $ref: 'Components.yaml#/components/schemas/response_500'

    get:
      description: Api will return list of tasks for accountId
      parameters:
        - name: account_id
          in: path
          description: Account Id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  task_ids:
                    type: array
                    items:
                      type: string
                      example: "00U1e000003TUB8EAO"
                  task_map_by_id:
                    type: object
                    properties:
                      00U1e000003TUB8EAO:
                        type: object
                        properties:
                        $ref: 'Components.yaml#/components/schemas/task'
        '400':
            description: "Bad Request"
            content:
              application/json:
                schema:
                  $ref: 'Components.yaml#/components/schemas/response_400'
        '401':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: 'Components.yaml#/components/schemas/response_401'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: 'Components.yaml#/components/schemas/response_404'
        '500':
          description: Something went wrong
          content:
            application/json:
              schema:
                $ref: 'Components.yaml#/components/schemas/response_500'

  /v1/accounts/{account_id}/tasks/{task_id}:
    delete:
      description: Delete task for the given task id.
      parameters: 
        - name: account_id
          description: Account Id
          in: path
          required: true
          schema:
            type: string
        - name: task_id
          description: Task Id
          in: path
          required: true
          schema:
            type: string
      responses:
        '401':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: 'Components.yaml#/components/schemas/response_401'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: 'Components.yaml#/components/schemas/response_404'
        '500':
          description: Something went wrong
          content:
            application/json:
              schema:
                $ref: 'Components.yaml#/components/schemas/response_500'
        '204':
          description: Success