openapi: 3.0.3
info:
  title: SalesSparrow CRM organization users API's
  description: Following api's will be called from the SalesSparrow application
  version: '1.0'
servers:
  - url: https://sales.truesparrow.com/api

paths:
  /v1/crm-organization-users:
    get:
      description: Api will return the list of CRM organization users 
      parameters:
        - name: q
          in: query
          description: User Search String
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  crm_organization_user_ids:
                    type: array
                    items:
                      type: string
                      example:
                        - '00T1e000007mB43EAE'
                  crm_organization_user_map_by_id:
                    type: object
                    properties:
                      00T1e000007mB43EAE:
                        type: object
                        properties:
                        $ref: 'Components.yaml#/components/schemas/crm_organization_user'
        '400':
            description: "Bad Request"
            content:
              application/json:
                schema:
                  $ref: 'Components.yaml#/components/schemas/response_400'
        '401':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: 'Components.yaml#/components/schemas/response_401'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: 'Components.yaml#/components/schemas/response_404'
        '500':
          description: Something went wrong
          content:
            application/json:
              schema:
                $ref: 'Components.yaml#/components/schemas/response_500'