openapi: 3.0.3
info:
  title: SalesSparrow Account Notes API's
  description: Following api's will be called from the SalesSparrow application
  version: 1.0.0
servers:
  - url: https://sales.truesparrow.com/api
components:
  schemas:
    response_400:
      type: object
      properties:
        http_code:
          type: string
          example: "400"
        message:
          type: string
          example: "At least one parameter is invalid or missing."
        code:
          type: string
          example: "INVALID_PARAMS"
        internal_error_identifier:
          type: string
          example: "a_b_c_1"
        param_errors:
          type: array
          items:
            type: object
            properties:
              parameter:
                type: string
              message:
                type: string
            example:
              parameter: "text"
              message: "text is a required parameter. Please provide text."
    response_401:
      type: object
      properties:
        http_code:
          type: string
          example: "401"
        message:
          type: string
          example: "Unauthorized API request. Please check your API key."
        code:
          type: string
          example: "UNAUTHORIZED"
        internal_error_identifier:
          type: string
          example: "a_b_c_1"
        param_errors:
          type: array
          items:
            type: string
          example: []
    response_404:
      type: object
      properties:
        http_code:
          type: string
          example: "404"
        message:
          type: string
          example: "Resource not found. Please check if the resource identifier passed in the URL is valid and try again."
        code:
          type: string
          example: "NOT_FOUND"
        internal_error_identifier:
          type: string
          example: "a_b_c_1"
        param_errors:
          type: array
          items:
            type: string
          example: []
    response_500:
      type: object
      properties:
        http_code:
          type: string
          example: "500"
        message:
          type: string
          example: "Something went wrong."
        code:
          type: string
          example: "INTERNAL_SERVER_ERROR"
        internal_error_identifier:
          type: string
          example: "a_b_c_1"
        param_errors:
          type: array
          items:
            type: string
          example: []
paths:
  /v1/accounts/{account_id}/notes:
    post:
      description: Api will create note for accountId
      parameters:
        - name: account_id
          in: path
          description: Account Id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  example: 'Content of note'
              required:
                - text
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_400'
        '401':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_401'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_404'
        '500':
          description: Something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_500'
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  note_id:
                    type: string
                    example: "0691e000001WXlcAAG"
    get:
      description: Api will return list of notes for accountId
      parameters:
        - name: account_id
          in: path
          description: Account Id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  note_ids:
                    type: array
                    items:
                      type: string
                      example: "0691e000001WXlcAAG"
                  note_map_by_id:
                    type: object
                    properties:
                      0691e000001WXlcAAG:
                        type: object
                        properties:
                          id:
                            type: string
                            example: "0691e000001WXlcAAG"
                          creator:
                            type: string
                            example: "xyz"
                          text_preview: 
                            type: string
                            example: "Note Full Content"
                          last_modified_time:
                            type: string
                            format: date-time
                            example: "2019-10-12T07:20:50.52Z"
                        
  /v1/accounts/{account_id}/notes/{note_id}:
    get:
      description: Fetch details of note by note id.
      parameters: 
        - name: account_id
          description: Account Id
          in: path
          required: true
          schema:
            type: string
        - name: note_id
          description: Note Id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  note_detail:
                    type: object
                    properties:
                      id:
                        type: string
                        example: "0691e000001WXlcAAG"
                      creator:
                        type: string
                        example: "xyz"
                      text: 
                        type: string
                        example: "Note Full Content"
                      last_modified_time:
                        type: string
                        format: date-time
                        example: "2019-10-12T07:20:50.52Z"
